@charset "UTF-8";
.box-uva {
  background-color: #c44d58; }

.box-limon {
  background-color: #c7f464; }

.box-celeste {
  background-color: #4ecdc4; }

.box-rosa {
  background-color: #ff6b6b; }

body {
  color: #575656;
  font-size: 15px;
  font-family: 'Raleway', 'arial';
  margin: 0px; }

ul {
  list-style-type: none; }

.social {
  position: fixed;
  /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
  left: 0;
  /* Establecemos la barra en la izquierda */
  top: 200px;
  /* Bajamos la barra 200px de arriba a abajo */
  z-index: 2000;
  /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */ }

.social ul {
  list-style: none;
  padding: 0px; }

/*.social ul li {
	width: 100%;
}*/
.social ul li a {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  /* Establecemos una transición a todas las propiedades */
  width: 30%; }

.social ul li .icon-facebook {
  background: #3b5998; }

/* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .icon-twitter {
  background: #00abf0; }

.social ul li .icon-googleplus {
  background: red; }

.social ul li .icon-pinterest {
  background: #ae181f; }

.social ul li .icon-mail {
  background: #666666; }

.social ul li .fa-facebook {
  background: #3b5998; }

/* Establecemos los colores de cada red social, aprovechando su class */
.social ul li .fa-twitter {
  background: #00abf0; }

.social ul li .fa-google-plus {
  background: red; }

.social ul li .fa-envelope {
  background: #666666; }

.social ul li a:hover {
  background: #000;
  /* Cambiamos el fondo cuando el usuario pase el mouse */
  /*padding: 10px 30px;*/
  /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
  width: 50%; }

.header {
  background-color: #FFFFFF;
  height: 57px;
  position: fixed;
  top: -57px;
  left: 0px;
  width: 100%;
  z-index: 10;
  transition: top .3s ease; }

.header-show {
  top: 0px; }

.header-mobile {
  /*border 1px solid blue;*/
  height: 100%;
  display: flex;
  justify-content: space-between; }

.header-logo {
  /*border 1px solid red;*/
  order: 2;
  margin-right: 1rem;
  line-height: 57px;
  width: 65px; }

.header-logo .logo {
  margin-top: 10px;
  width: 100%;
  background-size: contain; }

.header-btn-nav {
  order: 1;
  border: 0px;
  background-color: #c7f464;
  /*margin-left: 1rem;*/
  width: 57px;
  height: 57px;
  color: white; }

.header-menu-navbar {
  background-color: #FFFFFF; }

.header-menu-list {
  height: 0px;
  overflow: hidden;
  transition: height .3s ease;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none; }

.header-menu-list-show {
  height: 330px; }

.header-menu-list-item {
  /*border 1px solid red;*/
  width: 100%;
  padding: 1.5rem;
  transition: background-color .2s ease; }

.header-menu-list-item:hover {
  background-color: #F1EFEF; }

.header-border {
  width: 100%;
  height: 5px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header-border .rosa {
    background-color: #ff6b6b;
    height: 5px;
    width: 25%; }
  .header-border .celeste {
    background-color: #4ecdc4;
    height: 5px;
    width: 25%; }
  .header-border .limon {
    background-color: #c7f464;
    height: 5px;
    width: 25%; }
  .header-border .uva {
    background-color: #c44d58;
    height: 5px;
    width: 25%; }

@media (min-width: 768px) {
  #view-0 {
    min-height: 80px;
    background-color: #DEDEDE; }
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    transition: all .3s ease;
    top: 0px; }
  .behind-header {
    height: 80px; }
  .header-logo {
    line-height: 85px;
    padding-left: 20px;
    width: 150px; }
  .header-btn-nav {
    display: none; }
  .header-menu-list {
    height: 80px;
    display: flex; }
  .header-menu-list-item {
    display: inline-block; }
  #view-1-article .logo, #view-1-article .menu-section, #view-1-article .llamar-section {
    display: none; } }

/*** view's *********************************/
.view {
  min-height: 300px; }

#view-0 {
  min-height: 0px;
  background-color: #DEDEDE; }

#view-1 {
  background-color: white; }

#view-2 {
  background-color: white; }

#view-3 {
  background-color: white; }

#view-4 {
  background-color: white; }

/*** footer's *********************************/
footer {
  color: #E0DFDF;
  background-color: #556270;
  min-height: 300px; }

/*** footer's *********************************/
#view-1-article {
  display: flex;
  flex-direction: column;
  align-items: center; }

#view-1-article .logo {
  width: 50%;
  background-size: contain;
  margin-top: 25px; }

.menu-section {
  margin-top: 20px;
  width: 80%; }

.menu-bar {
  height: 40px;
  width: 100%;
  line-height: 40px;
  background-color: #4ecdc4;
  color: white;
  display: flex;
  justify-content: space-between; }

.menu-bar .menu-btn {
  height: 40px;
  line-height: 40px;
  background-color: #c7f464;
  padding: 0px 8px; }

.menu-bar .menu-btn .fa {
  line-height: 40px; }

.menu-label {
  margin-right: 15px; }

.menu-section .menu-list {
  color: #949899;
  padding-left: 0px;
  margin: 0px 0px;
  overflow: hidden;
  height: 0px;
  transition: height .3s ease; }

.menu-section .menu-list-show {
  height: 150px; }

.menu-section .menu-list li {
  border: solid 1px #E3E3E3;
  text-align: center;
  padding: 8px 0px; }

.social-media {
  width: 80%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.social-media .social-logo {
  width: 40px;
  height: 40px;
  background-size: contain; }

.portada-section {
  top: 0;
  left: 0;
  height: 200px;
  overflow: hidden;
  position: relative;
  perspective: 500%;
  transform-style: preserve-3d;
  transform-origin: 0% 50%; }
  .portada-section .portada {
    width: 100%;
    background-size: contain;
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0; }

.llamar-section .llamar {
  background-size: contain;
  height: 30px;
  margin: 40px 0px; }

.carousel.carousel-slider {
  top: 0;
  left: 0; }

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }

.carousel.carousel-slider .carousel-item {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0; }

#view-2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around; }
  #view-2 #container-a {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 300px; }
  #view-2 .nosotros-section .logo {
    width: 80%; }

.nosotros-section {
  width: 90%;
  max-width: 300px;
  /*margin: auto;*/
  padding-top: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.nosotros-section .titulo {
  color: #4ecdc4;
  font-size: 30px;
  width: 100%;
  text-align: center; }

.nosotros-section .contenido {
  color: #949899;
  text-align: center;
  line-height: 20px;
  margin: 70px 0px; }

.nosotros-section .contenido span {
  color: #4ecdc4; }

.nosotros-section .perfil-foto {
  width: 80%;
  margin: auto;
  margin-bottom: 30px; }

.nosotros-section .perfil-nombre {
  color: #4ecdc4; }

.nosotros-section .perfil-descripcion {
  color: #949899;
  text-align: center;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 50px; }

.nosotros-section .especialidades {
  padding-left: 0px; }

.nosotros-section .especialidades li {
  /*border: 1px solid #E3E3E3;*/
  /*color: #949899;*/
  color: white;
  padding: 10px 8px;
  text-align: center; }

@media (min-width: 768px) {
  #view-2 #container-a {
    min-height: 500px; }
  .nosotros-section #nosotros-1 {
    margin-top: 0px; } }

#view-3 {
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #view-3 img {
    width: 100%;
    margin: 15px 0px 30px 0px; }
  #view-3 .servicios-titulo {
    color: #4ecdc4;
    font-size: 30px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center; }
  #view-3 .servicios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  #view-3 .servicios-box {
    width: 140px;
    height: 140px;
    color: white;
    font-size: .9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #view-3 .servicios-box-titulo, #view-3 .servicios-box-contenido {
    text-align: center; }
  #view-3 .servicios-box .servicios-box-titulo {
    font-weight: bold; }
  #view-3 .box-uva {
    background-color: #c44d58; }
  #view-3 .box-limon {
    background-color: #c7f464; }
  #view-3 .box-celeste {
    background-color: #4ecdc4; }
  #view-3 .box-rosa {
    background-color: #ff6b6b; }

@media (min-width: 768px) {
  #view-3 .servicios-container .servicios-box {
    width: 210px;
    height: 210px;
    font-size: 1.1em;
    padding: 10px; } }

#view-4 {
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #view-4 .blog-titulo {
    color: #4ecdc4;
    font-size: 30px;
    width: 100%; }
  #view-4 img {
    width: 200px;
    height: 200px;
    background-size: contain; }
  #view-4 .promo-box .promociones-titulo {
    font-size: 1.3em;
    text-align: center;
    color: #4ecdc4; }
  #view-4 .promo-box .promociones-contenido, #view-4 .promo-box .promociones-fecha {
    text-align: center; }

@media (min-width: 768px) {
  #view-4 {
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 120px; }
    #view-4 .promo-box {
      width: 35%; }
    #view-4 .promo-box .promociones-titulo {
      font-size: 2.5em;
      text-align: center;
      color: #4ecdc4; }
    #view-4 .promo-box .promociones-contenido, #view-4 .promo-box .promociones-fecha {
      font-size: 2.0em; } }

#view-5 {
  background-color: #00b1d6;
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px; }
  #view-5 .ubicacion-box {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #view-5 .ubicacion-titulo {
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: center; }
  #view-5 .ubicacion-mapa {
    overflow: hidden;
    height: 300px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 20px; }
  #view-5 #gmap_canvas {
    width: 100%;
    height: 300px;
    background-color: grey; }
  #view-5 .contactanos-titulo {
    color: white;
    font-size: 30px;
    width: 100%;
    text-align: center; }
  #view-5 .contactanos-form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    color: white;
    font-size: 1.5em; }
  #view-5 .contactanos-form input {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 0px solid; }
  #view-5 .contactanos-form textarea {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 0px solid; }
  #view-5 .contactanos-form button, #view-5 .contactanos-form .button {
    width: 70%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 0px solid;
    color: #949899;
    background-color: white;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none; }

@media (min-width: 768px) {
  #view-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px; }
  #view-5 .ubicacion-box {
    width: 40%; }
  #view-5 .ubicacion-box .ubicacion-titulo {
    font-size: 1.3em;
    text-align: center; } }

footer {
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer .footer-box {
    width: 100%; }
  footer .footer-logo {
    width: 40%;
    background-size: contain;
    margin-bottom: 40px; }
  footer .footer-titulo {
    color: white;
    font-size: 30px;
    width: 100%; }
  footer .footer-contenido {
    text-align: left;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 45px;
    width: 100%; }
  footer .footer-logo2 {
    width: 30%;
    background-size: contain;
    margin-bottom: 20px; }
  footer .footer-siguenos {
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px; }
  footer .footer-redes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  footer .footer-social {
    width: 60%;
    background-size: contain; }

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    font-size: .7em; }
  footer .footer-titulo, footer .footer-siguenos {
    font-size: 1.2em; }
  footer .footer-logo2 {
    margin: auto; } }
