/*** view's *********************************/

$view-min-height: 300px;

.view {
	min-height: $view-min-height;
}



#view-0, #view-1, #view-2, #view-3, #view-4 {

}

#view-0 {
	min-height: 0px;
	background-color: #DEDEDE;
}

#view-1 {
	background-color: $View-1-backgroundColor;
}

#view-2 {
	background-color: $View-2-backgroundColor;
}

#view-3 {
	background-color: $View-3-backgroundColor;
}

#view-4 {
	background-color: $View-4-backgroundColor;
}

/*** footer's *********************************/

footer {
	color: $footer-Color;
	background-color: $footer-BackgroundColor;
	min-height: 300px;
}

/*** footer's *********************************/
