#view-4 {
	padding-top: 70px;
	padding-left: 15px;
	padding-right: 15px;

	display: flex;
	flex-direction: column;
	align-items: center;

	.blog-titulo {
		color: $colorCeleste;
		font-size: 30px;
		width: 100%;
	}

	img {
		width: 200px;
		height: 200px;
		background-size: contain;
	}

	.promociones-titulo {
		font-size: 1.3em;
		text-align: center;
		color: $colorCeleste;
	}
}