#view-4 {
	padding-top: 70px;
	padding-left: 15px;
	padding-right: 15px;

	display: flex;
	flex-direction: column;
	align-items: center;

	.blog-titulo {
		color: $colorCeleste;
		font-size: 30px;
		width: 100%;
	}

	img {
		width: 200px;
		height: 200px;
		background-size: contain;
	}

	.promo-box .promociones-titulo {
		font-size: 1.3em;
		text-align: center;
		color: $colorCeleste;
	}

	.promo-box .promociones-contenido, .promo-box .promociones-fecha {
		text-align: center;
	}
}

@media (min-width: 768px) {
	#view-4 {
		flex-direction: row;
		justify-content: center;
		margin-top: 120px;
		margin-bottom: 120px;

		.promo-box {
			width: 35%;
		}

		.promo-box .promociones-titulo {
			font-size: 2.5em;
			text-align: center;
			color: $colorCeleste;
		}

		.promo-box .promociones-contenido, .promo-box .promociones-fecha {
			font-size: 2.0em;
		}
	}

		
}