#view-3 {
	padding-top: 70px;
	padding-left: 15px;
	padding-right: 15px;

	display: flex;
	flex-direction: column;
	align-items: center;

	.servicios-titulo {
		color: $colorCeleste;
		font-size: 30px;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	.servicios-container {
		display: flex;
		flex-wrap: wrap;
	}

	.servicios-box {
		width: 140px;
		height: 140px;
		color: white;
		font-size: .9em;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.servicios-box-titulo, .servicios-box-contenido {
		text-align: center;
	}

	.servicios-box .servicios-box-titulo {
		font-weight: bold; 
	}

	.box-uva {
		background-color: $colorUva;
	}

	.box-limon {
		background-color: $colorLimon;
	}

	.box-celeste {
		background-color: $colorCeleste;
	}

	.box-rosa {
		background-color: $colorRosa;
	}
}

@media (min-width: 768px) {

	#view-3 .servicios-container .servicios-box {
		width: 210px;
		height: 210px;
		font-size: 1.1em;
		padding: 10px;
	}
}