#view-4 {
	padding-top: 70px;
	padding-left: 15px;
	padding-right: 15px;

	display: flex;
	flex-direction: column;
	align-items: center;

	.blog-titulo {
		color: $colorCeleste;
		font-size: 30px;
		width: 100%;
	}
}