/*** view's *********************************/

$view-min-height: 300px;

.view {
	min-height: $view-min-height;
}


$View-1-backgroundColor: #99FF76;
$View-2-backgroundColor: #84D867;
$View-3-backgroundColor: #71B858;
$View-4-backgroundColor: #5F9B4A;

#view-0, #view-1, #view-2, #view-3, #view-4 {

}

#view-0 {
	min-height: 64px;
	background-color: #DEDEDE;
}

#view-1 {
	background-color: $View-1-backgroundColor;
}

#view-2 {
	background-color: $View-2-backgroundColor;
}

#view-3 {
	background-color: $View-3-backgroundColor;
}

#view-4 {
	background-color: $View-4-backgroundColor;
}

/*** footer's *********************************/

$footer-Color: #E0DFDF;
$footer-BackgroundColor: #414141;

footer {
	color: $footer-Color;
	background-color: $footer-BackgroundColor;
	min-height: 300px;
}