footer {
	padding-top: 70px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;

	.footer-box {
		width: 100%;
	}

	.footer-logo {
		width: 40%;
		background-size: contain;
		margin-bottom: 40px;
	}

	.footer-titulo {
		color: white;
		font-size: 30px;
		width: 100%;
	}

	.footer-contenido {

		text-align: left;
		line-height: 20px;
		margin-top: 15px;
		margin-bottom: 45px;
		width: 100%;
	}

	.footer-logo2 {
		width: 30%;
		background-size: contain;
		margin-bottom: 20px;
	}

	.footer-siguenos {
		width: 100%;
		font-size: 20px;
		text-align: center;
		margin-bottom: 20px;
	}

	.footer-redes {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.footer-social {
		width: 15%;
		background-size: contain;
	}
}

@media (min-width: 768px) {
	footer {

		display: flex;
		flex-direction: row;
		justify-content: space-around;
	align-items: stretch;
		font-size: .7em;
	}

	footer .footer-titulo, footer .footer-siguenos {
		font-size: 1.2em;
	}

	footer .footer-logo2 {
		margin: auto;
	}
}