#view-5 {
	background-color: $colorCelesteOscuro;
	padding-top: 70px;
	padding-left: 15px;
	padding-right: 15px;
    margin-top: 30px;

    .ubicacion-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

	.ubicacion-titulo {
		color: white;
		font-size: 30px;
		width: 100%;
	}
	
	.ubicacion-mapa {
		overflow:hidden;
		height:300px;
		width:90%;
		margin-top: 15px;
		margin-bottom: 20px;
	}

	#gmap_canvas {
        width: 100%;
        height: 300px;
        background-color: grey;
    }

    .contactanos-titulo {
		color: white;
		font-size: 30px;
		width: 100%;
		text-align: center;
    }

    .contactanos-form {
        padding-top: 40px;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
        text-align: center;
    	width: 80%;
        color: white;
        font-size: 1.5em;
    }

    .contactanos-form input {
    	width: 100%;
    	margin-top: 10px;
    	padding: 10px;
    	border-radius: 8px;
    	border: 0px solid;
    }

    .contactanos-form textarea {
    	width: 100%;
    	height: 70px;
    	margin-top: 10px;
    	padding: 10px;
    	border-radius: 8px;
    	border: 0px solid;
    }

    .contactanos-form button, .contactanos-form .button  {
    	width: 70%;
    	margin-top: 10px;
    	padding: 10px;
    	border-radius: 8px;
    	border: 0px solid;
    	color: #949899;
    	background-color: white;
    	font-size: 16px;
    	font-style: italic;
    	margin-bottom: 30px;
        text-align: center;
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    #view-5 {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 20px;
    }

    #view-5 .ubicacion-box {
        width: 40%;
    }

    #view-5 .ubicacion-box .ubicacion-titulo {
        font-size: 1.3em;
        text-align: center;
    }
}