.header {
	background-color: #FFFFFF;
	height: $altoMenu;
	position: fixed;
	top: -$altoMenu;
	left: 0px;
	width: 100%;
	z-index: 10;
	transition: top .3s ease;
}

.header-show {
	top: 0px;
}

.header-mobile {
	/*border 1px solid blue;*/
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.header-logo {
	/*border 1px solid red;*/
	order: 2;
	margin-right: 1rem;
	line-height: $altoMenu;
	width: 65px;
}

.header-logo .logo {
	margin-top: 10px;
	width: 100%;
	background-size: contain;
}

.header-btn-nav {
	order: 1;
	border: 0px;
	background-color: #c7f464;
	/*margin-left: 1rem;*/
	width: $altoMenu;
	height: $altoMenu;
	color: white;
}

.header-menu-navbar {
	background-color: #FFFFFF;
}

.header-menu-list {
	height: 0px;
	overflow: hidden;
	transition: height .3s ease;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type: none;
}

.header-menu-list-show {
	height: 330px;
}

.header-menu-list-item {
	/*border 1px solid red;*/
	width: 100%;
	padding: 1.5rem;
	transition: background-color .2s ease;
}

.header-menu-list-item:hover {
	background-color: #F1EFEF;
}

.header-border {
	width: 100%;
	height: 5px;
	z-index: 999;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.rosa {
		background-color: $colorRosa;
		height: 5px;
		width: 25%;
	}
	.celeste {
		background-color: $colorCeleste;
		height: 5px;
		width: 25%;
	}
	.limon {
		background-color: $colorLimon;
		height: 5px;
		width: 25%;
	}
	.uva {
		background-color: $colorUva;
		height: 5px;
		width: 25%;
	}

}

@media (min-width: 768px) {
	#view-0 {
		min-height: 80px;
		background-color: #DEDEDE;
	}
	
	.header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 80px;
		transition: all .3s ease;
		top: 0px;
	}

	.behind-header {
		height: 80px;
	}

	.header-logo {
		line-height: 85px;
		padding-left: 20px;
		width: 150px;
	}

	.header-btn-nav {
		display: none;
	}

	.header-menu-list {
		height: 80px;
		display: flex;
	}

	.header-menu-list-item {
		display: inline-block;
	}

	#view-1-article .logo, #view-1-article .menu-section, #view-1-article .llamar-section {
		display: none;
	}
}